* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-color: #242424;
}
header .bg-navbar .container-fluid .nav-menu .bg-navbar {
  background-color: #242424;
}
header .bg-navbar .container-fluid .nav-menu .bg-navbar a:hover {
  background-color: #A1EF00;
  color: #242424;
}
header .bg-navbar .container-fluid .nav-menu .bg-navbar a:active {
  background-color: #94C530;
}
header .bg-navbar .container-fluid .nav-menu .navbar-nav {
  margin: 0px 20px;
  gap: 15px;
}
header .bg-navbar .container-fluid .nav-menu .navbar-nav .nav-item .dropdown-menu {
  background-color: #242424;
}
header .bg-navbar .container-fluid .nav-menu .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: #A1EF00;
  color: #242424;
}
header .bg-navbar .container-fluid .navbar-logo {
  width: 80%;
}
header .bg-navbar .container-fluid .navbar-logo img {
  width: 30%;
}

/* CUERPO PRINCIPAL*/
main {
  text-align: center;
}
main .box-one .texto {
  margin: 40px 10px;
  border-radius: 3px;
  font-size: 17px;
  padding: 15px;
}
main .box-one .texto h1 {
  color: #A1EF00;
  font-size: 26px;
  margin: 15px 0px;
}
main .box-one .grid-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 34%);
  margin: 0px 20px;
  height: 90vh;
}
main .box-one .grid-img div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .box-one .grid-img .img-uno {
  grid-column: 1;
  grid-row: span 3;
}
main .box-one .grid-img .img-tres {
  grid-row: span 2;
}
main .box-one .grid-img .img-cuatro {
  display: none;
}
main .box-one .grid-img .img-cinco {
  display: none;
}
main .box-one .grid-img .img-seis {
  display: none;
}
main .links-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  margin: 40px 0px;
}
main .links-pages .boxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .links-pages .boxs .card {
  width: 85%;
  margin: 5px 7px;
}
main .links-pages .boxs .card .link-img img {
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 0px;
  width: 100%;
}
main .links-pages .boxs .card .link-text {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
main .links-pages .boxs .card .link-text h2 {
  margin: 20px 0px;
  font-size: 25px;
}
main .links-pages .boxs .card .link-text a {
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  margin: 7px 0px;
  color: #242424;
}
main .links-pages .boxs .card .link-text a:hover {
  background-color: #A1EF00;
  color: #242424;
  border-radius: 15px;
}
main .links-pages .boxs .card .link-text .nav-item {
  list-style-type: none;
}
main .links-pages .boxs .card .link-text .nav-item a {
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  margin: 7px 0px;
  color: #242424;
}
main .links-pages .boxs .card .link-text .nav-item a:hover {
  background-color: #A1EF00;
  color: #242424;
  border-radius: 15px;
}
main .links-pages .boxs .card .link-text .nav-item ul {
  list-style-type: none;
}

/* PIE DE PAGINA*/
footer {
  display: flex;
  background-color: #242424;
  color: whitesmoke;
  align-items: center;
  height: 40vh;
}
footer .logo-foot {
  width: 50%;
}
footer .logo-foot img {
  width: 130%;
}
footer .redes-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
footer .redes-foot h6 {
  color: #94C530;
}
footer .redes-foot h3 {
  font-size: 18px;
}
footer .redes-foot h3 a {
  font-size: 20px;
  color: white;
  width: 40%;
  text-decoration: none;
}

/* PAGE GALERIA */
.galeria .texto {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5px;
}
.galeria .texto h6 {
  display: flex;
  margin-top: 5px;
  font-size: 15px;
}
.galeria .texto a {
  text-decoration: none;
  color: #242424;
}
.galeria .texto h1 {
  font-size: 40px;
  margin: 5px 0px 10px 0px;
}
.galeria .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.galeria .cards .card {
  margin: 20px 0px;
  border-radius: 2px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}
.galeria .cards .card img {
  margin-top: 10px;
  width: 115%;
}
.galeria .cards .card h5 {
  color: #242424;
  font-size: 25px;
}
.galeria .cards .card a {
  background-color: #A1EF00;
  color: #242424;
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  margin: 7px 0px;
}
.galeria .cards .card a:hover {
  background-color: #94C530;
  color: #242424;
}

/* PAGE CONTACTOS */
.contactos .ruta {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5px;
}
.contactos .ruta h6 {
  display: flex;
  margin-top: 5px;
  font-size: 15px;
}
.contactos .ruta a {
  text-decoration: none;
  color: #242424;
}
.contactos section .redes {
  margin: 40px 3px;
  border-radius: 3px;
  font-size: 19px;
}
.contactos section .redes .texto h1 {
  color: #A1EF00;
}
.contactos section .redes .logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 13px 0px;
}
.contactos section .redes .logos .redes a {
  text-decoration: none;
  color: #242424;
}
.contactos section .redes .logos .redes a:hover {
  color: #A1EF00;
}

.catalogo section .carrusel {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5px;
}
.catalogo section .carrusel h1 {
  font-size: 40px;
  margin: 5px 0px 10px 0px;
}
.catalogo section .carrusel h6 {
  margin-top: 5px;
  font-size: 15px;
}
.catalogo section .carrusel a {
  text-decoration: none;
  color: #242424;
}
.catalogo section .info {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  gap: 20px;
  font-size: 20px;
}
.catalogo section .info .stock {
  text-align: start;
}
.catalogo section .info .stock .talles h2 {
  font-size: 25px;
}
.catalogo section .info .stock .talles ul {
  margin: 10px 0px 0px 5px;
  padding: 0;
  font-size: 15px;
  list-style-type: none;
}
.catalogo section .info .precios {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
.catalogo section .info .precios p {
  margin-bottom: 0;
  font-size: 20px;
}
.catalogo section .info .precios a {
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  margin: 7px 0px;
  border-radius: 15px;
}
.catalogo section .info .precios a .btn {
  background-color: #A1EF00;
  color: #242424;
}

/* MQ tablets */
@media screen and (min-width: 768px) {
  /* inicio */
  header .bg-navbar .container-fluid .navbar-logo {
    width: 80%;
  }
  header .bg-navbar .container-fluid .navbar-logo img {
    width: 16%;
  }
  main .box-one .texto {
    font-size: 20px;
  }
  main .box-one .texto h1 {
    font-size: 45px;
  }
  main .box-one .grid-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 25%);
    margin: 0px 20px;
    height: 90vh;
  }
  main .box-one .grid-img .img-tres {
    grid-row: span 3;
  }
  main .box-one .grid-img .img-cuatro {
    display: block;
  }
  main .links-pages {
    gap: 0px;
  }
  main .links-pages .boxs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 15px;
  }
  main .links-pages .boxs .card {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
  }
  main .links-pages .boxs .card .link-img img {
    width: 94%;
    margin: 12px;
  }
  main .links-pages .boxs .card .link-text h2 {
    margin: 12px 0px;
    border-radius: 0px;
    font-size: 20px;
  }
  main .links-pages .boxs .card .link-text a {
    margin: 5px 0px;
    border-radius: 0px;
    font-size: 18px;
  }
  main .links-pages .boxs .card .link-text a:hover {
    border-radius: 15px;
  }
  footer {
    height: 25vh;
  }
  footer .logo-foot {
    display: flex;
    justify-content: center;
  }
  footer .logo-foot img {
    width: 60%;
  }
  footer .redes-foot h6 {
    font-size: 20px;
  }
  footer .redes-foot h3 {
    font-size: 25px;
  }
  /* indumentaria */
  .galeria .texto {
    margin: 10px 5px;
    border-radius: 3px;
    font-size: 15px;
  }
  .galeria .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
  }
  /* catalogo */
  .catalogo section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px 60px 20px;
  }
  .catalogo section .carrusel {
    width: 55%;
    margin-left: 0px;
    text-align: start;
  }
  .catalogo section .carrusel h6 a {
    text-decoration: none;
    color: #242424;
  }
  .catalogo section .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 100px;
  }
  .catalogo section .info .talles ul {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin-left: 15px;
  }
  .catalogo section .info .precios {
    font-size: 25px;
  }
  /* contactos */
  .contactos section .redes {
    margin: 20px 0px 100px 0px;
  }
  .contactos section .redes .texto {
    font-size: 25px;
    padding: 50px;
  }
  .contactos section .redes .texto p {
    margin-top: 50px;
  }
  .contactos section .redes .logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
/* MQ desktop */
@media screen and (min-width: 1280px) {
  /* inicio */
  header .bg-navbar .container-fluid {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  header .bg-navbar .container-fluid .navbar-logo {
    width: 16%;
  }
  header .bg-navbar .container-fluid .navbar-logo img {
    width: 100%;
  }
  header .bg-navbar .container-fluid .nav-menu {
    width: 30%;
  }
  main .box-one {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .box-one .texto {
    width: 60%;
    font-size: 15px;
  }
  main .box-one .grid-img {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 33%);
    margin: 0px 20px;
    height: 80vh;
  }
  main .box-one .grid-img .img-uno {
    grid-row: 2/4;
  }
  main .box-one .grid-img .img-dos {
    grid-column: 1/3;
  }
  main .box-one .grid-img .img-tres {
    grid-row: 2/4;
  }
  main .box-one .grid-img .img-cuatro {
    grid-column: span 2;
  }
  main .box-one .grid-img .img-cinco {
    display: block;
    grid-row: 2/4;
  }
  main .box-one .grid-img .img-seis {
    display: block;
    grid-row: span 2;
  }
  main .links-pages {
    display: flex;
    flex-direction: row;
  }
  main .links-pages .boxs {
    width: 100%;
    gap: 60px;
    align-items: baseline;
  }
  main .links-pages .boxs .card {
    width: 30%;
  }
  main .links-pages .boxs .card .link-img img {
    width: 94%;
    object-fit: cover;
  }
  footer {
    height: 45vh;
  }
  footer .logo-foot img {
    width: 45%;
  }
  /* galeria */
  .galeria {
    display: flex;
    flex-direction: column;
  }
  .galeria .cards {
    align-items: center;
    margin-left: 30px;
    width: 95%;
    flex-wrap: nowrap;
  }
  .catalogo section {
    justify-content: space-evenly;
  }
  .catalogo section .carrusel {
    width: 35%;
  }
  .catalogo section .info .precios {
    font-size: 35px;
  }
  .catalogo section .info .precios a .btn {
    padding: 20px;
    background-color: #A1EF00;
    color: #242424;
  }
  /* contactos */
  .contactos section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactos section .redes .logos {
    display: flex;
    justify-content: center;
  }
  .contactos section .redes .logos .redes {
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
