* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: 100;
}

header {
  background-color: #242424;
}
header .bg-navbar .container-fluid .nav-menu .bg-navbar {
  background-color: #242424;
}
header .bg-navbar .container-fluid .nav-menu .bg-navbar a:hover {
  background-color: #A1EF00;
  color: #242424;
}
header .bg-navbar .container-fluid .nav-menu .bg-navbar a:active {
  background-color: #94C530;
}
header .bg-navbar .container-fluid .nav-menu .navbar-nav {
  margin: 0px 20px;
  gap: 15px;
}
header .bg-navbar .container-fluid .navbar-logo {
  width: 80%;
}
header .bg-navbar .container-fluid .navbar-logo img {
  width: 30%;
}

/* CUERPO PRINCIPAL*/
main {
  text-align: center;
}
main .box-one .texto {
  margin: 40px 10px;
  border-radius: 3px;
  font-size: 17px;
  background-color: #242424;
  color: whitesmoke;
  padding: 15px;
}
main .box-one .texto h1 {
  color: #A1EF00;
  font-size: 26px;
  margin: 15px 0px;
}
main .box-one .grid-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 34%);
  margin: 0px 20px;
  height: 90vh;
}
main .box-one .grid-img div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
main .box-one .grid-img .img-uno {
  grid-column: 1;
  grid-row: span 3;
}
main .box-one .grid-img .img-tres {
  grid-row: span 2;
}
main .box-one .grid-img .img-cuatro {
  display: none;
}
main .box-one .grid-img .img-cinco {
  display: none;
}
main .box-one .grid-img .img-seis {
  display: none;
}
main .links-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  margin: 40px 0px;
}
main .links-pages .boxs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .links-pages .boxs .card {
  width: 85%;
  margin: 5px 7px;
  border-radius: 5px;
  background-color: #242424;
  color: whitesmoke;
}
main .links-pages .boxs .card .link-img img {
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 0px;
  width: 97%;
}
main .links-pages .boxs .card .link-text {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
main .links-pages .boxs .card .link-text h2 {
  margin: 20px 0px;
  font-size: 14px;
}
main .links-pages .boxs .card .link-text a {
  color: white;
  font-size: 15px;
  width: 60%;
  text-decoration: none;
  padding: 15px;
  margin: 7px 0px;
}
main .links-pages .boxs .card .link-text a:hover {
  background-color: #A1EF00;
  color: #242424;
  border-radius: 15px;
}

/* PIE DE PAGINA*/
footer {
  display: flex;
  background-color: #242424;
  color: whitesmoke;
  align-items: center;
  height: 40vh;
}
footer .logo-foot {
  width: 50;
}
footer .logo-foot img {
  width: 90%;
}
footer .redes-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
footer .redes-foot h6 {
  color: #94C530;
}
footer .redes-foot h3 {
  font-size: 18px;
}
footer .redes-foot h3 a {
  color: white;
  width: 40%;
  text-decoration: none;
}

/* PAGE GALERIA */
.galeria .texto {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5px;
}
.galeria .texto h6 {
  display: flex;
  margin-top: 5px;
  font-size: 15px;
}
.galeria .texto a {
  text-decoration: none;
  color: #242424;
}
.galeria .texto h1 {
  font-size: 40px;
  margin: 5px 0px 10px 0px;
}
.galeria .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.galeria .cards .card {
  margin: 20px 0px;
  border-radius: 2px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  color: whitesmoke;
}
.galeria .cards .card img {
  border-radius: 5px;
  margin-top: 10px;
  width: 90%;
}
.galeria .cards .card a {
  background-color: #A1EF00;
  color: #242424;
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  margin: 7px 0px;
  border-radius: 15px;
}
.galeria .cards .card a:hover {
  background-color: #94C530;
  color: #242424;
  border-radius: 15px;
}

/* PAGE CONTACTOS */
.contactos section .redes {
  margin: 20px 3px;
  border-radius: 3px;
  font-size: 19px;
  background-color: #242424;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.contactos section .redes .logos {
  display: flex;
  margin: 13px 0px;
}
.contactos section .redes .logos div a img {
  width: 55%;
  padding-bottom: 40px;
}
.contactos .inscripcion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactos .inscripcion .formulario {
  width: 98%;
  align-content: center;
  background-color: #242424;
  color: #A1EF00;
  padding: 25px;
}
.contactos .inscripcion .formulario h1 {
  padding: 10px;
  font-size: 20px;
}
.contactos .inscripcion .formulario form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactos .inscripcion .formulario form .controles {
  margin: 15px 0px;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px;
  background-color: #d4d4d4;
}
.contactos .inscripcion .formulario form .boton {
  padding: 10px;
  background-color: #A1EF00;
  border-radius: 10px;
  color: #242424;
}

.remeras section .carrusel {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5px;
}
.remeras section .carrusel h1 {
  font-size: 40px;
  margin: 5px 0px 10px 0px;
}
.remeras section .carrusel h6 {
  margin-top: 5px;
  font-size: 15px;
}
.remeras section .carrusel a {
  text-decoration: none;
  color: #242424;
}
.remeras section .info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  gap: 20px;
  font-size: 20px;
  text-align: center;
}
.remeras section .info .talles h2 {
  font-size: 25px;
}
.remeras section .info .talles ul {
  margin: 0px 0px 0px 5px;
  padding: 0;
  font-size: 20px;
  list-style-type: none;
}
.remeras section .info .precios {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
.remeras section .info .precios p {
  margin-bottom: 0;
}
.remeras section .info .precios a {
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  margin: 7px 0px;
  border-radius: 15px;
}
.remeras section .info .precios a .btn {
  background-color: #A1EF00;
  color: #242424;
}
.remeras section .info .precios a:hover {
  background-color: #94C530;
  color: #242424;
  border-radius: 15px;
}

/* MQ tablets */
@media screen and (min-width: 768px) {
  /* inicio */
  header .bg-navbar .container-fluid .navbar-logo {
    width: 80%;
  }
  header .bg-navbar .container-fluid .navbar-logo img {
    width: 16%;
  }
  main .box-one .texto {
    font-size: 15px;
  }
  main .box-one .texto h1 {
    font-size: 45px;
  }
  main .box-one .grid-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 25%);
    margin: 0px 20px;
    height: 90vh;
  }
  main .box-one .grid-img .img-tres {
    grid-row: span 3;
  }
  main .box-one .grid-img .img-cuatro {
    display: block;
  }
  main .links-pages {
    gap: 0px;
  }
  main .links-pages .boxs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 15px;
  }
  main .links-pages .boxs .card {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
  }
  main .links-pages .boxs .card .link-img img {
    width: 94%;
    margin: 12px;
  }
  main .links-pages .boxs .card .link-text h2 {
    margin: 12px 0px;
    border-radius: 0px;
    font-size: 15px;
  }
  main .links-pages .boxs .card .link-text a {
    margin: 30px 0px;
    border-radius: 0px;
    font-size: 15px;
  }
  main .links-pages .boxs .card .link-text a:hover {
    border-radius: 15px;
  }
  footer {
    height: 25vh;
  }
  footer div a img {
    padding-top: 10px;
    width: 25%;
  }
  footer div a {
    padding: 5px 0px;
    font-size: 13px;
  }
  footer h3 {
    font-size: 10px;
  }
  /* indumentaria */
  .galeria .texto {
    margin: 40px 10px;
    border-radius: 3px;
    font-size: 15px;
  }
  .galeria .texto h1 {
    color: #A1EF00;
  }
  .galeria .adidas .cuadro-uno {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  .galeria .adidas .cuadro-uno div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .galeria .adidas .cuadro-uno .cuadro-depaul {
    display: block;
  }
  .galeria .adidas .cuadro-dos .dos-img-cinco {
    display: none;
  }
  .galeria .nike .texto {
    font-size: 15px;
  }
  .galeria .nike img {
    width: 80%;
  }
  /* profesores */
  main .texto {
    margin: 40px 5px;
    border-radius: 3px;
    font-size: 15px;
  }
  main .texto h1 {
    color: #A1EF00;
  }
  main .cbum .card-profe {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .cbum .card-profe img {
    width: 30%;
  }
  main .canelo .card-profe {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .canelo .card-profe img {
    width: 30%;
  }
  main .canelo .fotos-canelo {
    height: 80vh;
    margin: 5px 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 34%);
    gap: 2px;
  }
  main .canelo .fotos-canelo .canelo-uno {
    grid-row: span 2;
  }
  main .canelo .fotos-canelo .canelo-tres {
    grid-row: span 2;
  }
  /* rutinas */
  main section .rutina-uno .texto {
    font-size: 15px;
  }
  main section .rutina-uno .tabla-uno table .dias td {
    font-size: 30px;
  }
  main section .rutina-uno .tabla-uno table tr td {
    font-size: 22px;
  }
  main section .rutina-dos .tabla-dos table .dias td {
    font-size: 30px;
  }
  main section .rutina-dos .tabla-dos table tr td {
    font-size: 22px;
  }
  /* contactos */
  .contactos section .redes .logos {
    display: flex;
  }
  .contactos section .redes .logos div a img {
    width: 30%;
  }
  .contactos .inscripcion .formulario {
    padding: 25px;
  }
  .contactos .inscripcion .formulario h1 {
    padding: 15px;
    font-size: 30px;
  }
}
/* MQ desktop */
@media screen and (min-width: 1280px) {
  /* inicio */
  header .bg-navbar .container-fluid {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  header .bg-navbar .container-fluid .navbar-logo {
    width: 16%;
  }
  header .bg-navbar .container-fluid .navbar-logo img {
    width: 100%;
  }
  header .bg-navbar .container-fluid .nav-menu {
    width: 30%;
  }
  main .box-one {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .box-one .texto {
    width: 60%;
    font-size: 15px;
  }
  main .box-one .grid-img {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 33%);
    margin: 0px 20px;
    height: 80vh;
  }
  main .box-one .grid-img .img-uno {
    grid-row: 2/4;
  }
  main .box-one .grid-img .img-dos {
    grid-column: 1/3;
  }
  main .box-one .grid-img .img-tres {
    grid-row: 2/4;
  }
  main .box-one .grid-img .img-cuatro {
    grid-column: span 2;
  }
  main .box-one .grid-img .img-cinco {
    display: block;
    grid-row: 2/4;
  }
  main .box-one .grid-img .img-seis {
    display: block;
    grid-row: span 2;
  }
  main .links-pages {
    display: flex;
    flex-direction: row;
  }
  main .links-pages .boxs {
    width: 100%;
    gap: 60px;
  }
  main .links-pages .boxs .card {
    width: 30%;
  }
  main .links-pages .boxs .card .link-img img {
    width: 94%;
    object-fit: cover;
  }
  footer {
    height: 40vh;
  }
  footer div a {
    width: 5%;
    padding: 10px;
  }
  footer div a img {
    width: 85%;
  }
  /* galeria */
  .galeria .adidas .cuadro-uno {
    display: flex;
  }
  .galeria .adidas .cuadro-dos {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  .galeria .adidas .cuadro-dos .dos-img-dos {
    grid-column: span 1;
  }
  .galeria .adidas .cuadro-dos .dos-img-cinco {
    display: block;
    grid-column: 4;
    grid-row: 1/3;
  }
  .galeria .nike .cuadro-tres {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  .galeria .nike .cuadro-tres .tres-img-uno {
    grid-row: span 2;
  }
  .galeria .nike .cuadro-tres .tres-img-dos {
    grid-row: span 2;
  }
  .galeria .nike .cuadro-tres .tres-img-tres {
    grid-row: span 2;
  }
  .galeria .nike .cuadro-tres .tres-img-cuatro {
    grid-column: 4;
    grid-row: span 2;
  }
  .galeria .nike .texto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .galeria .nike .texto p {
    padding: 15px;
    font-size: 20px;
  }
  /* profesores */
  main .cbum .card-profe img {
    width: 15%;
  }
  main .cbum .fotos-cbum {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  main .canelo .card-profe img {
    width: 15%;
  }
  main .canelo .fotos-canelo {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
  /* rutinas */
  main .rutina-uno .tabla-uno table .dias td {
    padding: 5px;
  }
  main .rutina-uno .tabla-uno table tr td {
    padding: 10px;
  }
  main .rutina-dos .tabla-dos table .dias td {
    padding: 10px;
  }
  main .rutina-dos .tabla-dos table tr td {
    padding: 10px;
  }
  /* contactos */
  .contactos section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactos section .redes {
    width: 95%;
  }
  .contactos section .redes .logos div a img {
    width: 15%;
  }
  .contactos .inscripcion {
    display: flex;
  }
  .contactos .inscripcion .formulario {
    width: 65%;
    margin: 20px 0px;
    border-radius: 2px;
    font-size: 15px;
    padding: 25px;
  }
  .contactos .inscripcion .formulario h1 {
    font-size: 20px;
  }
  .contactos .inscripcion .formulario form {
    height: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
