//SASS PRINCIPAL
//mobile first

//import utilidades
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";

//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//body

body {
  background-color: rgb(255, 255, 255);
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
 
}

//banner principal

header {
  background-color: #242424;
  .bg-navbar {
    .container-fluid {
      .nav-menu {
        .bg-navbar {
          background-color: #242424;
          a:hover {
            background-color: $color-secundario;
            color: #242424;
          }
          a:active {
            background-color: $color-alternativo;
          }
        }
        .navbar-nav {
          margin: 0px 20px;
          gap: 15px;
        }
      }

      .navbar-logo {
        width: 80%;
        img {
          width: 30%;
        }
      }
    }
  }
}

/* CUERPO PRINCIPAL*/

main {
  text-align: center;
  .box-one {
    .texto {
      @include estilos(40px 10px, 3px, 17px);
      padding: 15px;
      h1 {
        color: $color-secundario;
        font-size: 26px;
        margin: 15px 0px;
      }
    }

    .grid-img {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 34%);
      margin: 0px 20px;
      height: 90vh;

      div {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .img-uno {
        grid-column: 1;
        grid-row: span 3;
      }

      .img-tres {
        grid-row: span 2;
      }

      .img-cuatro {
        display: none;
      }

      .img-cinco {
        display: none;
      }
      .img-seis {
        display: none;
      }
    }
  }

  .links-pages {
    @include flex-column;
    align-items: center;
    border-radius: 2px;
    margin: 40px 0px;

    .boxs {
      display: flex;
      flex-direction: column;
      align-items: center;
      .card {
        width: 85%;
        margin: 5px 7px;
        .link-img {
          img {
            @include estilos(5px 5px, 5px, 0px);
            width: 100%;
          }
        }
        .link-text {
          @include flex-column;
          margin-right: 15px;
          display: flex;
          align-items: center;
          h2 {
            margin: 20px 0px;
            font-size: 25px;
          }

          a {
            font-size: 15px;
            width: 60%;
            text-decoration: none;
            padding: 15px;
            margin: 7px 0px;
            color: #242424;
          }

          a:hover {
            background-color: $color-secundario;
            color: $color-principal;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

/* PIE DE PAGINA*/

footer {
  display: flex;
  background-color: $color-principal;
  color: whitesmoke;
  align-items: center;  
  height: 40vh;
  .logo-foot{
    width: 50%;
    img{
      width: 130%;
    }
  }

  .redes-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    h6{
      color: $color-alternativo;
    }
    h3 {
      font-size: 18px;
      a {
        color: white;
        width: 40%;
        text-decoration: none;
      }
    }
  }
}

//imports
@import "html/galeria";
@import "html/contactos";
@import "html/products/catalogo";

/* MQ tablets */

@media screen and (min-width: 768px) {
  /* inicio */

  header {
    .bg-navbar {
      .container-fluid {
        .navbar-logo {
          width: 80%;
          img {
            width: 16%;
          }
        }
      }
    }
  }

  main {
    .box-one {
      .texto {
        font-size: 20px;

        h1 {
          font-size: 45px;
        }
      }

      .grid-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 25%);
        margin: 0px 20px;
        height: 90vh;

        .img-tres {
          grid-row: span 3;
        }

        .img-cuatro {
          display: block;
        }
      }
    }

    .links-pages {
      gap: 0px;
      .boxs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 15px;
        .card {
          margin: 10px 10px;
          @include flex-column;
          .link-img {
            img {
              width: 94%;
              margin: 12px;
            }
          }
          
          .link-text {
            h2 {
              @include estilos(12px 0px, 0px, 20px);
            }

            a {
              @include estilos(30px 0px, 0px, 18px);
            }
            a:hover {
              border-radius: 15px;
            }
          }
        }
      }
    }
  }

  footer {
    height: 30vh;
    .logo-foot{
      display: flex;
      justify-content: center;
      img{
        width: 60%;
      }
    }

    .redes-foot{
      h6{
        font-size: 20px;
      }
      h3{
        font-size: 25px;
      }
    }
  }

  /* indumentaria */

  .galeria {
    .texto {
      @include estilos(10px 5px, 3px, 15px);
    }

    .cards{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 100px;
    }

  }

  /* catalogo */

  .catalogo{
    section{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin:30px 0px 130px 20px ;
      .carrusel{
        width: 50%;
        h6{
          a{
            text-decoration: none;
            color: #242424;
          }
        }
        margin-left: 0px;
        text-align: start;
      }

      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 100px;
        .talles{
          ul{
            list-style-type: none;
            font-size: 20px;
            padding: 0;
            margin-left: 15px;            
          }
        }
        .precios{
          font-size: 25px;
        }
      }
    }
  }


  

  /* contactos */
  .contactos {
    section {
      .redes {
        .logos {
          display: flex;
          div {
            a {
              img {
                width: 30%;
              }
            }
          }
        }
      }
    }
  }
}

/* MQ desktop */

@media screen and (min-width: 1280px) {
  /* inicio */
  header {
    .bg-navbar {
      .container-fluid {
        display: flex;
        justify-content: center;
        width: 50%;
        .navbar-logo {
          width: 16%;
          img {
            width: 100%;
          }
        }

        .nav-menu {
          width: 30%;
        }
      }
    }
  }

  main {
    .box-one {
      @include flex-center;

      .texto {
        width: 60%;
        font-size: 15px;
      }

      .grid-img {
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 33%);
        margin: 0px 20px;
        height: 80vh;
        .img-uno {
          grid-row: 2 / 4;
        }

        .img-dos {
          grid-column: 1 / 3;
        }

        .img-tres {
          grid-row: 2 / 4;
        }

        .img-cuatro {
          grid-column: span 2;
        }

        .img-cinco {
          display: block;
          grid-row: 2 / 4;
        }
        .img-seis {
          display: block;
          grid-row: span 2;
        }
      }
    }

    .links-pages {
      display: flex;
      flex-direction: row;
      .boxs {
        width: 100%;
        gap: 60px;
        .card {
          width: 30%;
          .link-img {
            img {
              width: 94%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  footer {
    height: 45vh;
    .logo-foot{
      img{
        width: 55%;
      }
    }
  }

  /* galeria */

  .galeria {
    display: flex;
    flex-direction: column;
    .cards{
      align-items: center;
      margin-left: 30px;
      width: 95%;
      flex-wrap: nowrap;
    }
  }

  .catalogo{
    section{
      justify-content: space-evenly;
      .carrusel{
        width: 40%;
      }

      .info{
        .precios{
          font-size: 35px;
          a{
            .btn{
              padding: 20px;
              background-color: $color-secundario;
              color: $color-principal;
            }
          }
        }
      }
    }
  }


  /* contactos */

  .contactos {
    section {
      @include flex-center;
      .redes {
        width: 95%;
        .logos {
          div {
            a {
              img {
                width: 15%;
              }
            }
          }
        }
      }
    }

    .inscripcion {
      display: flex;
      .formulario {
        width: 65%;
        @include estilos(20px 0px, 2px, 15px);
        padding: 25px;
        h1 {
          font-size: 20px;
        }
        form {
          height: 90%;
        }
      }
    }
  }
}
