/* PAGE CONTACTOS */

.contactos {
    .ruta{
      display: flex;
      flex-direction: column;
      text-align: start;
      padding: 5px;
      h6 {
        display: flex;
        margin-top: 5px;
        font-size: 15px;
      }
      a {
        text-decoration: none;
        color: $color-principal;
      }
  }
    
    section {
        .redes {
            @include estilos (40px 3px, 3px, 19px);
            .texto{
                h1{
                    color: $color-secundario;
                }
            }
            .logos {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 13px 0px;
                .redes {
                    a {
                        text-decoration: none;
                     color: $color-principal;   
                    }
                    a:hover{
                        color: $color-secundario;
                    }
                }
            }
        }
    }

}
