/* PAGE RUTINA */

main {
    .texto{
        h1{
        margin: 10px 0px;
        color: $color-secundario;
        }

        h2{
            margin: 15px 0px;
            color: $color-secundario;
        }
    }


    .rutina-uno {
        .texto{
            @extend %texto-rutinas;
        }
        .tabla-uno {
            display: flex;
            justify-content: center;
            table {  
                .dias {
                    border: 0.5px solid ;     
                    td {
                        color: $color-secundario;
                        @extend %rutina-td;   
                    }
                }
                tr {
                    border: 0.5px solid ;  
                    td {
                        @extend %rutina-td;  
                    }
                }
            }
                
        }

    }
    .rutina-dos{
        .texto{
            @extend %texto-rutinas;
        }
        .tabla-dos {
            display: flex;
            justify-content: center;
            
            table { 
                .dias {
                    border: 0.5px solid ;
                    td {
                        color: $color-secundario;
                        @extend %rutina-td;   
                    }
                }
                tr {
                    border: 0.5px solid ;
                    
                    td {
                        @extend %rutina-td;  
                        
                    }
                }
            }
                
        }

        
    }

}